version: '3.8'
services:
  rag_app:
    build: .
    image: rag_chroma:v1
    #command: ["uvicorn", "SearchApi.main:app", "--host", "0.0.0.0", "--port", "5000"]
    ports:
      - "8080:5000"
    #healthcheck:
    #  test: ["CMD", "curl", "--fail", "http://localhost:8080/", "||", "exit 1"]
    #  interval: 30s
    #  timeout: 5s
    #  retries: 3
    #  start_period: 20s
    volumes:
      - .:/RAG_chroma
    #environment:
    #  - PYTHONUNBUFFERED=1